basePath: /
definitions:
  PreprocessedRequirements:
    properties:
      requirements:
        items:
          properties:
            description_tokens:
              items:
                example: avail
                type: string
              type: array
            id:
              example: UPC-1
              type: string
            title_tokens:
              items:
                example: swagger
                type: string
              type: array
        type: array
    type: object
  Requirements:
    properties:
      requirements:
        items:
          properties:
            description:
              example: There is a new version available.
              type: string
            id:
              example: UPC-1
              type: string
            title:
              example: The swagger version is deprecated.
              type: string
        type: array
    type: object
host: api.openreq.eu
info:
  description: 'The component is based in the keywords extraction process used in the OpenReq project called [similar-related-requirements-recommender](https://github.com/OpenReqEU/similar-related-requirements-recommender). The main purpose of this service is to preprocess requirements and to obtain the keywords that represent each one.'
  title: Keywords Extraction
  version: '1.0'
paths:
  /keywords-extraction/requirements:
    post:
      consumes:
        - application/json
      description: Preprocesses and extracts the keywords of the input requirements. The title keywords are returned in the 'title_tokens' field and the description tokens in the 'description_tokens' field of the JSON.<br/>
      parameters:
        - description: Whether to use stemming or not
          in: query
          name: stemmer
          required: true
          type: boolean
        - description: Input requirements
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/Requirements'
      produces:
        - application/json
      responses:
        '200':
          description: ok
          schema:
            properties:
              requirements:
                items:
                  $ref: '#/definitions/PreprocessedRequirements'
                type: array
            type: object
        '405':
          description: Invalid input
          schema:
            properties:
              error:
                example: Invalid Input
                type: string
              message:
                example: The requirements array is empty
                type: string
            type: object
      summary: Preprocesses and extracts the keywords of the input requirements.
      tags:
        - Main operations
schemes:
  - https
swagger: '2.0'
